<td><span class="building-icon icon-20x20-building-<#= building #>"></span></td>
<td><#= locale("common", building) #></td>
<td><#= level #></td>
<td><#= duration #></td>
<td>
	<span class="icon-26x26-resource-wood force-26to20"></span> <#= wood #>
	<span class="icon-26x26-resource-clay force-26to20"></span> <#= clay #>
	<span class="icon-26x26-resource-iron force-26to20"></span> <#= iron #>
</td>
