<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2><#= locale("builder", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-two-col">
            <div class="tab" tab="settings">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("common", "settings") #></a></div>
                </div>
            </div>
            <div class="tab" tab="log">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("common", "logs") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">
        <!-- settings tab -->
        <div class="box-paper footer has-footer-upper twOverflow-content-settings">
            <p class="center">BuilderQueue is in experimental mode at the moment. You can\'t create custom buildings order. Any bug or suggestion please send an email to <i>mafrazzrafael@gmail.com</i></p>

            <form class="settings">
                <h5 class="twx-section collapse"><#= locale("builder", "settings") #></h5>
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="50%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#= locale("builder", "settings.groupVillages") #></span>
                            </td>
                            <td>
                                <select data-setting="groupVillages" class="groupVillages"></select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#= locale("builder", "settings.buildingPreset") #></span>
                            </td>
                            <td>
                                <select data-setting="buildingPreset" class="buildingPreset"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="twx-section collapse"><#= locale("builder", "settings.buildingsOrderFinal") #></h5>
                
                <table class="tbl-border-light header-center">
                    <colgroup>
                        <col width="10%">
                        <col width="50%">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="2"><#= locale("common", "building") #></th>
                            <th><#= locale("common", "level") #></th>
                        </tr>
                    </thead>
                    <tbody class="buildingOrderFinal"></tbody>
                </table>

                <h5 class="twx-section collapse"><#= locale("builder", "settings.buildingsOrder") #></h5>
                
                <table class="tbl-border-light header-center">
                    <colgroup>
                        <col width="10%">
                        <col width="24%">
                        <col width="9%">
                        <col width="15%">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="2"><#= locale("common", "building") #></th>
                            <th><#= locale("common", "level") #></th>
                            <th><#= locale("common", "duration") #></th>
                            <th><#= locale("common", "costs") #></th>
                        </tr>
                    </thead>
                    <tbody class="buildingOrder"></tbody>
                </table>
            </form>
        </div>

        <div class="box-paper footer has-footer-upper twOverflow-content-log">
            <table class="tbl-border-light tbl-striped header-center">
                <colgroup>
                    <col width="40%">
                    <col width="30%">
                    <col width="5%">
                    <col width="25%">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th><#= locale("common", "village") #></th>
                        <th><#= locale("common", "building") #></th>
                        <th><#= locale("common", "level") #></th>
                        <th><#= locale("common", "started") #></th>
                    </tr>
                </thead>
                <tbody class="buildLog">
                    <tr class="noBuilds">
                        <td colspan="4"><#= locale("builder", "logs.noBuilds") #></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="win-foot">
        <ul class="list-btn list-center buttons">
            <li class="twOverflow-button-settings">
                <a class="btn-orange btn-border save"><#= locale("common", "save") #></a>
            </li>
            <li class="twOverflow-button-log">
                <a class="btn-orange btn-border clearLogs"><#= locale("builder", "logs.clear") #></a>
            </li>
            <li>
                <a class="btn-green btn-border switch"><#= locale("common", "start") #></a>
            </li>
        </ul>
    </footer>
</div>
